In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [21]:
shapes_DENS = {}
testers = []
for sybdir, dir, files in os.walk('sat_density/'):
    print (len(files))
    for file in files:
        shape = (pd.read_csv('sat_density/'+str(file)).shape)
        if shape[0] < 100:
            testers.append(file)
        if shape not in shapes_DENS:
            shapes_DENS[shape] = 1
        else:
            shapes_DENS[shape] += 1

testers

8119

['champ_-00006-20000811_to_20000814.csv',
 'champ_-01127-20051001_to_20051004.csv',
 'grace2-06177-20130808_to_20130811.csv',
 'gr-of1-05033-20200207_to_20200210.csv',
 'grace2-06594-20160401_to_20160404.csv',
 'grace2-06459-20150513_to_20150516.csv',
 'grace2-06114-20130226_to_20130301.csv',
 'grace2-06517-20150927_to_20150930.csv',
 'grace2-06053-20120925_to_20120928.csv',
 'grace2-05884-20111116_to_20111119.csv',
 'gr-of1-05035-20200208_to_20200211.csv',
 'champ_-00121-20010319_to_20010322.csv',
 'grace2-05887-20111213_to_20111216.csv',
 'gr-of1-05034-20200207_to_20200210.csv',
 'grace2-06322-20140626_to_20140629.csv',
 'champ_-01255-20060418_to_20060421.csv']

In [ ]:
tester = 'champ_-01255-20060418_to_20060421.csv'
density_df = pd.read_csv('sat_density/'+str(tester))
density_df['Timestamp'] = pd.to_datetime(density_df['Timestamp'])
density_df = density_df.set_index('Timestamp').resample(rule='10T', offset=pd.Timedelta(minutes=5, seconds=5)).interpolate(method='time')

density_df

/tmp/ipykernel_6404/2024418797.py:3: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  density_df = density_df.set_index('Timestamp').resample(rule='10T', offset=pd.Timedelta(minutes=5, seconds=5)).interpolate(method='time')

                     Orbit Mean Density (kg/m^3)
Timestamp
2006-04-18 19:05:05                 1.730803e-12
2006-04-18 19:15:05                 1.706461e-12
2006-04-18 19:25:05                 1.717789e-12
2006-04-18 19:35:05                 1.723806e-12
2006-04-18 19:45:05                 1.725227e-12
2006-04-18 19:55:05                 1.726858e-12
2006-04-18 20:05:05                 1.717638e-12
2006-04-18 20:15:05                 1.728043e-12
2006-04-18 20:25:05                 1.749615e-12
2006-04-18 20:35:05                 1.750637e-12
2006-04-18 20:45:05                 1.762068e-12
2006-04-18 20:55:05                 1.754248e-12
2006-04-18 21:05:05                 1.747010e-12
2006-04-18 21:15:05                 1.745629e-12
2006-04-18 21:25:05                 1.747381e-12
2006-04-18 21:35:05                 1.742193e-12
2006-04-18 21:45:05                 1.751523e-12
2006-04-18 21:55:05                 1.749523e-12
2006-04-18 22:05:05                 1.739784e-12
2006-04-18 22:15:05                 1.751192e-12
2006-04-18 22:25:05                 1.754106e-12
2006-04-18 22:35:05                 1.727547e-12
2006-04-18 22:45:05                 1.720331e-12
2006-04-18 22:55:05                 1.720397e-12
2006-04-18 23:05:05                 1.724169e-12
2006-04-18 23:15:05                 9.990000e+32
2006-04-18 23:25:05                 9.990000e+32
2006-04-18 23:35:05                 9.990000e+32
2006-04-18 23:45:05                 9.990000e+32
2006-04-18 23:55:05                 9.990000e+32

In [10]:
shapes_DENS
#len(shapes_DENS)
smallest = 433
for shape in shapes_DENS:
    if shape[0] < smallest: smallest = shape[0]

smallest

sorted(shapes_DENS)

[(13, 2),
 (26, 2),
 (30, 2),
 (37, 2),
 (41, 2),
 (48, 2),
 (60, 2),
 (69, 2),
 (70, 2),
 (71, 2),
 (73, 2),
 (77, 2),
 (87, 2),
 (89, 2),
 (121, 2),
 (126, 2),
 (129, 2),
 (130, 2),
 (134, 2),
 (136, 2),
 (144, 2),
 (156, 2),
 (164, 2),
 (169, 2),
 (174, 2),
 (175, 2),
 (181, 2),
 (184, 2),
 (191, 2),
 (194, 2),
 (196, 2),
 (206, 2),
 (209, 2),
 (210, 2),
 (229, 2),
 (231, 2),
 (233, 2),
 (236, 2),
 (250, 2),
 (252, 2),
 (262, 2),
 (268, 2),
 (272, 2),
 (273, 2),
 (276, 2),
 (288, 2),
 (294, 2),
 (302, 2),
 (303, 2),
 (304, 2),
 (306, 2),
 (308, 2),
 (310, 2),
 (311, 2),
 (312, 2),
 (313, 2),
 (317, 2),
 (321, 2),
 (324, 2),
 (326, 2),
 (328, 2),
 (329, 2),
 (332, 2),
 (337, 2),
 (340, 2),
 (344, 2),
 (350, 2),
 (363, 2),
 (367, 2),
 (370, 2),
 (372, 2),
 (376, 2),
 (387, 2),
 (393, 2),
 (395, 2),
 (407, 2),
 (411, 2),
 (415, 2),
 (416, 2),
 (419, 2),
 (420, 2),
 (423, 2),
 (427, 2),
 (432, 2),
 (433, 2)]

In [29]:
shapes_OMNI = {}
for sybdir, dir, files in os.walk('omni2/'):
    print (len(files))
    for file in files:
        shape = (pd.read_csv('omni2/'+str(file)).shape)
        if shape not in shapes_OMNI:
            shapes_OMNI[shape] = 1
        else:
            shapes_OMNI[shape] += 1

8119

In [16]:
shapes_OMNI

{(1440, 58): 6672, (1441, 58): 1447}

In [31]:
shapes_GOES = {}
for sybdir, dir, files in os.walk('goes/'):
    print (len(files))
    for file in files:
        shape = (pd.read_csv('goes/'+str(file)).shape)
        if shape not in shapes_GOES:
            shapes_GOES[shape] = 1
        else:
            shapes_GOES[shape] += 1

8119

In [32]:
shapes_GOES

{(86400, 43): 6559, (86401, 43): 1558, (67680, 43): 2}

In [ ]:
shapes_GOES_dropna = {}
for sybdir, dir, files in os.walk('goes/'):
    print (len(files))
    for file in files:
        shape = (pd.read_csv('goes/'+str(file)).dropna(axis=1,how='all').shape)
        if shape not in shapes_GOES_dropna:
            shapes_GOES_dropna[shape] = 1
        else:
            shapes_GOES_dropna[shape] += 1

8119

In [35]:
shapes_GOES_dropna

{(86400, 5): 473,
 (86400, 9): 4245,
 (86401, 43): 510,
 (86400, 13): 535,
 (86400, 43): 1291,
 (86401, 13): 895,
 (86401, 1): 24,
 (86401, 9): 122,
 (86400, 1): 13,
 (67680, 13): 2,
 (86401, 5): 7,
 (86400, 11): 2}